<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Topic table</title>
</head>
<body>
    <center>
        <h1>enter the topic name to insert into the table</h1>
        <form method="POST">
            {% csrf_token %}
           topic_name:  <input type="text" name="topic_name" id="topic_name"><br>
           <input type="submit" value="Submit">


        </form>






    </center>
    
</body>
</html>